<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <style>
        label{
            width: 80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
<form action="/login" method="post">
    <p>
        <label for="username">用户名：</label>
        <input id="username" type="text" name="username">
    </p>
    <p>
        <label for="password">密码：</label>
        <input id="password" type="password" name="password">
        <input type="submit">
        <span style="color: red">{{msg}}</span>
    </p>
</form>
<script src="/static/js/jquery-3.5.0.js"></script>
</body>
</html>